.chooseMenu {
    padding: 14px;
    max-width: 500px;

    border-radius: 12px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);

    animation: slideUp 0.5s ease;
}

.title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--choose-text-primary);
}

.titleIcon {
    color: var(--choose-icon);
    fill: none !important;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    width: 45px;
    height: 45px;
}

.titleIconWrapper {
    text-align: center;
}

.chooseList {
    margin-top: 20px;
    display: grid;
    row-gap: 10px;
}

.chooseTab {
    padding: 6px 15px;

    font-size: 18px;
    color: var(--choose-text-secondary);

    border-radius: 8px;
    border: 1px solid var(--choose-border);

    cursor: pointer;

    transition: border-color 0.2s ease, transform 0.2s ease;
}

.chooseTab:hover {
    border-color: var(--choose-border-hover);
    transform: translateY(-2px);
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}