.chatBlock {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 500px;

    box-shadow: var(--chat-shadow);
    background-color: var(--chat-bg);
    border-radius: 10px;

    overflow: hidden;
}